[vms]
{% for vm_service in groups['port_mappings'] | sort %}
{% if hostvars[vm_service]['vm_port'] == 22 %}
{% set vm_role = hostvars[vm_service]['vm_role'] %}
{% if vm_role == 'k3s' %}
{{ hostvars[vm_service]['vm_name'] }} ansible_host={{ ansible_host }} ansible_port={{ vm_port_mappings[vm_service] }} ansible_user={{ hostvars[vm_service]['vm_user'] }} ansible_ssh_private_key_file={{ hostvars[ansible_host]['ansible_ssh_private_key_file'] }} k3s_api_port_external={{ vm_port_mappings[hostvars[vm_service]['vm_name'] + '_k3s'] }} vm_role={{ vm_role }}
{% else %}
{{ hostvars[vm_service]['vm_name'] }} ansible_host={{ ansible_host }} ansible_port={{ vm_port_mappings[vm_service] }} ansible_user={{ hostvars[vm_service]['vm_user'] }} ansible_ssh_private_key_file={{ hostvars[ansible_host]['ansible_ssh_private_key_file'] }} vm_role={{ vm_role }}
{% endif %}
{% endif %}
{% endfor %}

[k3s_nodes]
{% for vm_service in groups['port_mappings'] | sort %}
{% if hostvars[vm_service]['vm_port'] == 22 and hostvars[vm_service]['vm_role'] == 'k3s' %}
{{ hostvars[vm_service]['vm_name'] }}
{% endif %}
{% endfor %}

[docker_nodes]
{% for vm_service in groups['port_mappings'] | sort %}
{% if hostvars[vm_service]['vm_port'] == 22 and hostvars[vm_service]['vm_role'] == 'docker' %}
{{ hostvars[vm_service]['vm_name'] }}
{% endif %}
{% endfor %}

[vms:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
ansible_python_interpreter=/usr/bin/python3
